.External-Box {
  padding: 10px 15px;
  background-color: #f78307;
  border-radius: 5px;
}

.External-text {
  color: #fff;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #07f73f;
  color: #000;
  font-weight: 600;
}
