.student-list {
  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  flex-direction: column; /* row by row */
  gap: 12px;
}

.nav {
  display: flex;
  gap: 20px;
  padding: 15px 30px;
  background-color: #1e293b; /* dark blue */
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav a:hover {
  background-color: #334155;
  color: #38bdf8; /* light blue */
}
